<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flames"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.flames.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.flames.SubActivity1"
            android:label="@string/title_activity_sub_activity1" >
        </activity>
        <activity
            android:name="com.example.flames.SubActivity3"
            android:label="@string/title_activity_sub_activity3" >
        </activity>
        <activity
            android:name="com.example.flames.SainActivity4"
            android:label="@string/title_activity_sain_activity4" >
        </activity>
        <activity
            android:name="com.example.flames.SainActivity5"
            android:label="@string/title_activity_sain_activity5" >
        </activity>
        <activity
            android:name="com.example.flames.SainActivity6"
            android:label="@string/title_activity_sain_activity6" >
        </activity>
        <activity
            android:name="com.example.flames.SubActivity6"
            android:label="@string/title_activity_sub_activity6" >
        </activity>
    </application>

</manifest>
